source https://api.nuget.org/v3/index.json

storage: none
framework: auto-detect

# https://github.com/fsprojects/Paket/issues/3972
nuget FSharp.Core

nuget dotenv.net
nuget Microsoft.Extensions.Configuration
nuget Microsoft.Extensions.Hosting