source https://api.nuget.org/v3/index.json

storage: none
framework: auto-detect

# https://github.com/fsprojects/Paket/issues/3972
nuget FSharp.Core

nuget dotenv.net ~> 3.1
nuget Microsoft.Extensions.Configuration ~> 7.0
nuget Microsoft.Extensions.Hosting ~> 7.0.1
nuget Discord.Net ~> 3.10